---
layout: default
title: Home
---

<div class="wrapper content">
  <ul class="post-list">
    {% for post in paginator.posts %}
    <li>
      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time></p>
      <div class="content">{{ post.summary }}</div>
      <div class="read-more"><a href="{{ site.baseurl }}{{ post.url }}" rel="full-article">read more…</a></div>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
