// Layout
//
// Styles for managing the structural hierarchy of the site.

.wrapper {
  max-width: 39rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}

ul.history {
  margin-left: 2rem;
  list-style: disc;
}

.content p {
  // font-family: $root-font-family;
  font: 300 17px/1.7 "Georgia", serif;
  // font-size: $root-font-size;

  margin-top: 0;
  margin-bottom: 1rem;
}

.post-list ul {
  font-size: 20%;
  margin: 0;
}

.post-list h3 {
  // font-size: 20px;
  margin-bottom: 0;
}

.post-list p.post-meta {
  font-family: $root-sanserif;
  font-size: 16px;
  margin: 0;
}

ul.project-list p.project-title {
  font-size: 20px;
  margin-bottom: 0;

}

ul.archive-list h3 {
  margin-bottom: 0;
}

ul.archive-list li .post-meta {
  font-family: $root-sanserif;
  font-size: 16px;
  margin: 0;
}

ul.project-list li {
  margin-bottom: 1.5rem;
}

ul.project-list li p.project-title {
  font-size: 22px;
}

.project-list small {
  font-family: $root-sanserif;
  font-size: 16px;
}

.divider {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  height: 5px;
  background-color: $dark-background-color;
}

.site-footer {
  background-color: $dark-background-color;
  color: $light-text-color;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.site-footer, .site-footer p {
  font-family: $root-sanserif;
  font-size: 14px;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}

.site-footer ul {
  list-style: none;
  padding: 0;
}

.site-footer ul > li {
  // font-size: 16px;
  // font-weight: 100;
  // text-rendering: optimizeLegibility;
}
