// Masthead

.masthead {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.2rem;
  margin-bottom: 1.5rem;
  color: #FFFDF1;
  background-color: $body-color;
  font-family: $root-sanserif;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #FFFDF1;

  a {
    color: inherit;
  }

  small {
    color: #FFFDF1;
    font-size: 75%;
    font-weight: 400;
    opacity: .75;
  }
}
