// Masthead

.masthead {
  padding-top: 1rem;
  padding-bottom: 1.2rem;
  margin-top: 0.3rem;
  margin-bottom: 1.5rem;
  color: $light-highlight-color;
  background-color: $body-color;
  font-family: $root-sanserif;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  small {
    color: $light-highlight-color;
    font-size: 80%;
    font-weight: lighter;

    a {
      color: inherit;
      margin-right: 1rem;
    }
  }
}

.masthead-title {
  margin-right: 15%;
  color: $light-highlight-color;
  font-family: Audiowide, sans-serif;
  font-size: 130%;

  a {
    color: inherit;
  }

}
