// Posts and pages
//

article.post header {
  // border-bottom: 5px solid $body-color;
  margin-bottom: 1.5rem;
}

.page, .post {
  margin-bottom: 1.5em;

  li + li {
    margin-top: .25rem;
  }
}

.post-meta, .post-tags {
  color: #9a9a9a;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: $root-sanserif;
  font-size: 90%
}

.page-prev {
  float: left;
  width: 50%; }
  @media screen and (max-width: 570px) {
    .page-prev {
      float: none;
      width: 100%; } }

.page-next {
  float: right;
  width: 50%;
  text-align: right; }
  @media screen and (max-width: 570px) {
    .page-next {
      float: none;
      width: 100%;
      text-align: left;
      margin-top: 15px; } }


// Related posts
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.related-posts {
  padding-left: 0;
  list-style: none;

  h3 {
    margin-top: 0;
  }

  li {
    small {
      font-size: 75%;
      color: #999;
    }

    a:hover {
      color: #268bd2;
      text-decoration: none;

      small {
        color: inherit;
      }
    }
  }
}

#toc {
  max-width: 450px;
  padding: 1em 3em;
  font-weight: lighter;
  font-family: $root-sanserif;
  font-size: 90%;
  color: $code-color;
  background-color: $code-background-color;
  border: 1px solid $code-border-color;
  border-radius: 3px;

  .toc-heading {
    font-weight: normal;
  }

  ol {
    list-style-type: decimal;
    margin: .1em .25em;

  }
}
