$gray-1: #f9f9f9;
$gray-2: #ccc;
$gray-3: #767676;
$gray-4: #515151;
$gray-5: #313131;

$red: #ac4142;
$orange: #d28445;
$yellow: #f4bf75;
$green: #90a959;
$cyan: #75b5aa;
$blue: #1C00CF;
$blue: #6a9fb5;
$brown: #8f5536;

$root-font-family: Georgia, serif;
$root-font-size: 20px;
$root-line-height: 1.5;


$body-color: #0f2c3f;
// $body-color: #191928;
$body-bg: #fefefe;
$link-color: #2a7aae;

$light-text-color: $body-bg;
$dark-background-color: $body-color;

$border-color: #e5e5e5;

$large-breakpoint: 38em;
$large-font-size: 20px;

$code-font-family: Menlo, monospace;
$code-color: #444;
$background-code-color: #FFFDF1;
