<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <header class="masthead">
      <div class="container">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          {% for page in site.pages_list %}
          &nbsp;&nbsp;&nbsp;
            <small><a href="{{ page[1] }}">{{ page[0] }}</a></small>
          {% endfor %}
        </h3>
      </div>
    </header>

    <main>
      {{ content }}
    </main>

    <footer class="site-footer">
      <div class="container">
        <ul class="footer-list">
          <li>Subscribe: <a href="/atom.xml">Atom</a></li>
          <li>Twitter: <a href="{{ site.author.twitter }}">@proxpero</a></li>
          <li>Github: <a href="{{ site.author.github }}">proxpero</a></li>
        </ul>
        <ul>&copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> by Todd Olsen. Some rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
